@import '../common/colors';
@import './theme-engine';

$color-primary: $color-purple;
$color-secondary: $color-orange;
$color-background: $color-grey-900;
$color-background-secondary: $color-grey-800;
$color-text: $color-white;

*[data-theme='theme-default'] {
  @include theme-engine(
    $color-primary,
    $color-secondary,
    $color-background,
    $color-background-secondary,
    $color-text
  );
}
