// This file contains all the colors used in the app.

$color-black: #000;
$color-white: #fff;
$color-grey-900: #212121;
$color-grey-800: #424242;
$color-pink: #f50057;
$color-indigo: #2962ff;
$color-orange: #ffab40;
$color-purple: #aa00ff;
